build/
config.json
gcreds.json
tsconfig.json
package.json
package-lock.json
eslint.config.js
.eslintignore
.eslintrc.json
jest.config.cjs
node_modules/
run/
coverage/
.vscode/
data/*.db
.env*
.editorconfig
*.md
